<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <center>
        <h1>This is Department table</h1>
        <table border="5px">
            <tr>
                <th>Deptno</th>
                <th>dname</th>
                <th>Location</th>
            </tr>
        {% for i in dept %}
            <tr>
                <td>{{i.deptno}}</td>
                <td>{{i.dname}}</td>
                <td>{{i.loc}}</td>
            </tr>
        {% endfor %}
        </table>
    </center>
</body>
</html>